/* Popups */


.popup {
  display: flex;
  z-index: 12;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  overflow: auto;
  opacity: 0;
  bottom: 100vh;
  transition: opacity 0.2s ease;
  background: var(--midnight-blue);
}

.popup.in {
  opacity: 1;
  top: 0;
}

.popup-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: #fff;
}

.popup-close-button {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.popup-close-button-text {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 46px;
  font-weight: 100;
  line-height: 1;
  transform: rotate(45deg);
  user-select: none;
}

.popup-video {
  width: 100%;
}





/* SWIPER */

.swiper-slide {
  max-height: 90vh;
  object-fit: contain;
}

/* Position for the nav dots */
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: fixed !important;
}

/* Navigation arrows position */
.swiper-button-next, .swiper-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  --swiper-navigation-sides-offset: 20px;
}

@media screen and (max-width: 991px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

}

:root {
  --swiper-navigation-size: 30px !important;
}


