.mini-map {
  z-index: 3;
  width: 450px;
  cursor: pointer;
  position: fixed;
  bottom: 5vh;
  right: 5vh;
}

.mini-map.small {
  width: 360px;
}

.mini-map-thumb {
  width: 100%;
  border-radius: 8px;
  display: block;
  position: relative;
  overflow: hidden;
}

.mini-map-control {
  width: 128px;
  height: 100px;
  border: 5px solid var(--primary-color);
  cursor: grab;
  border-radius: 8px;
  margin-top: -5px;
  margin-bottom: -5px;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: left 0.5s ease;
}

.mini-map-control.scrolling {
  cursor: grabbing;
}

@media screen and (max-width: 767px) {
  .mini-map {
    display: none;
  }
}

@media screen and (max-width: 479px) {

  .mini-map {
    width: 100vw;
    right: 0;
  }

  .mini-map.small {
    width: 100%;
  }

  .mini-map-thumb {
    border-radius: 0;
  }

  .mini-map-control {
    height: 111%;
    border-width: 4px;
    border-radius: 0;
    margin-top: -4px;
    margin-bottom: -4px;
  }
}